@import '../includes.scss';

mat-drawer-content.mat-drawer-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    overflow: visible;
}

mat-drawer.sidenav {
    position: fixed;
    top: 64px;
    @media (max-width: 599px) {
        top: 56px;
    }
}